*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

:root {
    --black: #111;
    --lightgreen: #c1ff72;
    --darkgreen: #12372a;
    --white: #fff;
    --green: #436850;
    --orange: #ffbd59;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.favicon {
    fill: #e7e9fc;
}

.hidden {
    display: none;
}

.nav-header-link {
    display: none;
}

.header-section {
    border-bottom: 1px solid #e7e9fc;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    width: 1098px;
    justify-content: space-between;
}

.logo-fest {
    display: inline-block;
    stroke-width: 0;
    fill: darkslategray;
    width: 60px;
    height: 60px;
}

.logo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: darkslategray;
}

.header-logo-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile menu */

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.icon-menu {
    display: block;
    fill: #2f2f37;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    width: 24px;
    height: 24px;
    padding: 8px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
}

.menu-btn-icon {
    fill: #2e2f42;
}

.menu-nav-link {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--white);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-current {
    color: var(--lightgreen);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus .menu-nav-link.menu-current:focus {
    color: var(--lightgreen);
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-item {
    width: 40px;
    height: 40px;
    align-items: center;
}

.social-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--lightgreen);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-icon {
    fill: var(--darkgreen);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-icon:hover,
.card-social-icon:focus {
    fill: var(--lightgreen);
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: var(--green);
}

/* Hero  */

.hero-box-qr {
    display: none;
}

.hero-section {
    width: 375px;
    height: 682px;
    margin: 0 auto;
}

.hero-reg {
    width: 375px;
    height: 682px;
}

.back-top {
    background-image: url(../images/mobile/reg-hero-girl-mob.jpg);
    max-width: 375px;
    height: 420px;
    background-repeat: no-repeat;
}

.back-bottom {
    margin-top: -1px;
    background-image: url(../images/mobile/reg-hero-mob.jpg);
    max-width: 375px;
    height: 262px;
    background-repeat: no-repeat;
    padding: 0 21px;
}

.hero-box-info {
    border-radius: 15px;
    max-width: 333px;
    height: 87px;
    background: rgba(18, 55, 42, 0.6);
    margin-bottom: 12px;
    padding: 8px 24px;
}

.hero-text-info {
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
}

.link-decor {
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--white);
    transition: background-color 250ms cubic-bezier(1, 0, 0, 1),
        padding 250ms cubic-bezier(1, 0, 0, 1),
        border-radius 250ms cubic-bezier(1, 0, 0, 1);
}

.link-decor:hover,
.link-decor:focus {
    border-radius: 10px;
    padding: 2px;
    background-color: var(--orange);
}

.hero-box-place {
    border-radius: 15px;
    max-width: 333px;
    height: 157px;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 10px;
}

.hero-text-place {
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
}

/* Regulations  */

.regulations {
    height: 325px;
    padding: 30px 26px;
    position: relative;
}

.regul-title {
    font-weight: 600;
    font-size: 28px;
    color: #000;
    margin-bottom: 12px;
}

.regul-text {
    font-weight: 400;
    font-size: 22px;
    color: #000;
}

.regul-decor {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
    background-color: #c1ff72;
    border-radius: 10px;
    padding: 4px;
    transition: babackground-color 250ms cubic-bezier(1, 0, 0, 1);
}

.regul-decor:hover,
.regul-decor:focus {
    background-color: var(--orange);
}

.regulations > svg {
    position: absolute;
    top: 60px;
    right: -35px;
}

/* Cost  */

.cost {
    background: linear-gradient(180deg, #7bb491 40%, #25552f 100%);
    padding: 46px 10px;
    margin: 0 auto;
}

.cost-title {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #000;
    margin-bottom: 14px;
}

.cost-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cost-li {
    position: relative;
    padding: 24px 12px;
    border-radius: 6px;
    width: 208px;
    height: 218px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.cost-li-title {
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-bottom: 80px;
}
.cost-svg {
    position: absolute;
    top: 15%;
    right: 0%;
}
.text-cost {
    font-weight: 400;
    font-size: 36px;
    color: #000;
}

.first {
    background: #d9d9d9;
}

.second {
    background: #c8d1a8;
}

.third {
    background: #e7ffa6;
}

.third .cost-li-title {
    margin-bottom: 38px;
}

.fourth {
    background: #b0ffc1;
}

.fourth .cost-li-title {
    margin-bottom: 38px;
}

/* Form  */

.form {
    margin: 0 auto;
    height: 1000px;
    max-width: 375px;
}

.form-div {
    position: relative;
    padding: 16px 24px;
}

.form-img {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-90deg);
    width: 137px;
    height: 144px;
}

.form-section-title {
    margin-top: 130px;
    font-weight: 600;
    font-size: 28px;
    color: var(--black);
    margin-bottom: 24px;
}

.form-section-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    color: var(--black);
    width: 297px;
    margin-bottom: 22px;
}

.form-box {
    padding: 46px 22px;
    margin: 0 auto;
    border-radius: 10px;
    width: 325px;
    box-shadow: 2px 8px 11px 2px rgba(0, 0, 0, 0.25);
    background: #c8d1a8;
}

.form-input {
    width: 280px;
    height: 68px;
    margin-bottom: 22px;
}

.form-label {
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 8px;
}

.form-input-cont {
    position: relative;
}

.form-input-box {
    padding-left: 34px;
    border: 2px solid #7db693;
    border-radius: 5px;
    width: 280px;
    height: 40px;
    background: #f7ffe1;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    padding: 3px 0px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-box:focus {
    border-color: var(--lightgreen);
}

.form-input-box:focus + .input-icon {
    fill: var(--lightgreen);
}

.form-textarea {
    border: 2px solid #7db693;
    border-radius: 5px;
    width: 280px;
    height: 182px;
    background: #f7ffe1;
    width: 100%;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    font-size: 14px;
}

.form-input:nth-child(3) {
    height: 210px;
    margin-bottom: 24px;
}

.form-btn {
    border-radius: 100px;
    width: 226px;
    height: 41px;
    background: var(--green);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--white);
    margin-left: 27px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background: var(--lightgreen);
}

/* Footer  */

.footer {
    height: 500px;
    background: #1e1823;
    padding: 42px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 26px;
}

.footer-logo-fest {
    display: inline-block;
    stroke-width: 0;
    fill: var(--white);
    width: 60px;
    height: 60px;
}

.footer-logo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: var(--white);
}

.footer-loro-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: 0;
}

.footer-nupesu {
    margin-left: 42px;
}

.footer-nupesu-logo {
    width: 64px;
    height: 75px;
}

.footer-nupesu-logo-text {
    padding-top: 8px;
    max-width: 186px;
    height: 75px;
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    text-align: left;
}

.footer-nav-item {
    margin-bottom: 10px;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-item:nth-child(4) {
    margin-bottom: 0;
}

.footer-nav-link {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--white);
}

.footer-social-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--darkgreen);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-card-social-icon {
    fill: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-card-social-icon:hover,
.footer-card-social-icon:focus {
    fill: var(--darkgreen);
}

.footer-social-item-link:hover,
.footer-social-item-link:focus {
    background-color: var(--lightgreen);
}

.footer-cont-text {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: var(--white);
}

.address {
    font-style: normal;
    margin-left: auto;
    display: block;
}

.nav-address {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--orange);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
        padding: 0 18px;
    }

    .header-section {
        padding: 0 32px;
    }

    .nav-header-link {
        display: none;
    }

    .logo-fest {
        display: inline-block;
        stroke-width: 0;
        fill: darkslategray;
        width: 60px;
        height: 60px;
    }

    .logo-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
        color: darkslategray;
    }

    .header-logo-link {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-header-link {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-link {
        position: relative;
        display: block;
        padding: 24px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        color: #436850;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #436850;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }

    .nav-link:hover,
    .nav-link:focus .nav-link.current:focus {
        color: #436850;
    }

    .icon-inst {
        fill: #436850;
    }

    /* mobile menu */

    .mobile-menu-btn,
    mobile-menu {
        display: none;
    }

    /* Hero  */

    .hero-section {
        width: 768px;
        height: 1400px;
        margin: 0 auto;
    }

    .hero-reg {
        width: 768px;
        height: 1400px;
    }

    .back-top {
        background-image: url(../images/tablet/reg-hero-girl-tab.jpg);
        max-width: 768px;
        height: 860px;
        background-repeat: no-repeat;
    }

    .back-bottom {
        margin-top: -1px;
        background-image: url(../images/tablet/reg-hero-tab.jpg);
        max-width: 768px;
        height: 538px;
        background-repeat: no-repeat;
        padding: 0 21px;
    }

    .hero-box-info {
        max-width: 570px;
        height: 170px;
        padding: 10px 21px;
        margin-top: -10px;
        margin-bottom: 8px;
    }

    .hero-text-info {
        font-size: 42px;
    }

    .hero-box-qr {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 190px;
        height: 187px;
        margin-bottom: 8px;
        background: rgba(18, 55, 42, 0.6);
    }

    .hero-box-place {
        max-width: 610px;
        height: 157px;
        padding: 10px 2px;
    }

    .hero-text-place {
        font-size: 28px;
    }

    /* Regulations  */

    .regulations {
        height: 325px;
        padding: 60px 26px;
        position: relative;
    }

    .regul-title {
        font-size: 42px;
        margin-bottom: 38px;
    }

    .regul-text {
        font-size: 24px;
        max-width: 430px;
    }

    .regulations > svg {
        position: absolute;
        top: -45px;
        right: -15px;
        transform: rotate(-45deg);
    }

    /* Cost  */

    /* Form  */

    .form {
        height: 920px;
        max-width: 768px;
    }

    .form-div {
        padding: 16px 48px;
    }

    .form-img {
        top: 20px;
        transform: rotate(260deg);
        width: 250px;
        height: 264px;
    }

    .form-section-title {
        margin-top: 160px;
        font-size: 42px;
        margin-bottom: 30px;
    }

    .form-section-text {
        font-size: 27px;
        width: 610px;
        margin-bottom: 46px;
    }

    .form-box {
        padding: 20px 40px;
        width: 474px;
        height: 478px;
    }

    .form-input {
        width: 394px;
        width: 100%;
        height: 68px;
        margin-bottom: 8px;
    }

    .form-input-box {
        height: 40px;
        width: 394px;
        width: 100%;
    }

    .form-textarea {
        width: 394px;
        height: 182px;
        width: 100%;
    }

    .form-input:nth-child(3) {
        height: 210px;
        margin-bottom: 24px;
    }

    .form-btn {
        margin-left: 84px;
    }

    /* Footer  */

    .footer {
        height: 300px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 42px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        margin-right: 24px;
    }

    /* Hero  */

    .hero-section {
        width: 1200px;
        height: 835px;
        margin: 0 auto;
    }

    .hero-reg {
        width: 1200px;
        height: 835px;
        display: flex;
        flex-direction: row;
    }

    .back-top {
        background-image: url(../images/desktop/reg-hero-girl-desk.jpg);
        width: 735px;
        height: 823px;
        background-repeat: no-repeat;
    }

    .back-bottom {
        margin-top: 0;
        background-image: url(../images/desktop/reg-hero-desk.jpg);
        width: 735px;
        height: 823px;
        margin-left: -1px;
        background-repeat: no-repeat;
        padding: 0 21px;
    }

    .hero-box-info {
        margin-top: 185px;
        margin-left: 0;
    }

    .hero-box-place {
        height: 174px;
        padding: 10px 8px;
    }

    /* Regulations  */

    .regulations {
        height: 325px;
        padding: 60px 26px;
        position: relative;
    }

    .regulations > svg {
        position: absolute;
        top: -85px;
        right: -15px;
        width: 290px;
        height: 362px;
        transform: rotate(-45deg);
    }

    /* Cost  */

    /* Form  */

    .form {
        height: 920px;
        max-width: 768px;
    }

    .form-div {
        padding: 16px 48px;
        display: flex;
    }

    .form-info {
        max-width: 362px;
    }

    .form-img {
        top: 316px;
        left: 120px;
        transform: rotate(0deg);
        width: 282px;
        height: 298px;
    }

    .form-section-title {
        margin-top: 160px;
        font-size: 42px;
        margin-bottom: 30px;
    }

    .form-section-text {
        font-size: 27px;
        width: 610px;
        margin-bottom: 46px;
    }

    .form-box {
        padding: 20px 40px;
        width: 474px;
        height: 478px;
    }

    .form-input {
        width: 394px;
        width: 100%;
        height: 68px;
        margin-bottom: 8px;
    }

    .form-input-box {
        height: 40px;
        width: 394px;
        width: 100%;
    }

    .form-textarea {
        width: 394px;
        height: 182px;
        width: 100%;
    }

    .form-input:nth-child(3) {
        height: 210px;
        margin-bottom: 24px;
    }

    .form-btn {
        margin-left: 84px;
    }
    
    /* Footer  */

    .footer {
        height: 226px;
    }
}
